@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Body */
.container {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  justify-content: center;
}

.hidden {
  display: none;
}

.bio {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 64px 16px 32px;
  height: 100%;
  width: 100%;
  max-width: 680px;
}

/* Header */
.header {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Header Avatar */
.avatar img {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  display: block;
  object-fit: contain;
  object-position: initial;
  filter: none;
}

/* Header Title */
.header .title {
  margin-top: 20px;
}

.header h1 {
  margin: 0px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Header Social Media */
.header .social-media {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.header .social-media a {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 5px;
  text-decoration: none;
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
  color: #333;
  height: 24px;
  width: 24px;
}

.header .social-media a:hover {
  background-color: #aaa;
  transform: scale(1.08);
}

.header .social-media svg {
  width: 26px;
  height: 26px;
}

/* Filters */
.filters {
  margin-top: 20px;
  display: flex;
}

@media screen and (max-width: 576px) {
  .filters {
    flex-wrap: wrap;
  }
}

.filters .search-bar,
.filters .categories {
  display: flex;
  width: 100%;
  margin: 2px;
}

.filters .search-bar input,
.filters .categories select {
  width: 100%;
  height: 28px;
  border-radius: 0.5rem;
  border: 1px solid #333;
  padding: 4px 12px;
  font-family: inherit;
  border-color: #aaa;
}

.filters .categories select {
  height: 38px;
}

/* Link */
.links {
  margin-top: 20px;
}

.link {
  z-index: 0;
  overflow: hidden;
  margin-bottom: 15px;
  border: none;
  background-color: rgb(235, 238, 241);
  color: rgb(0, 0, 0);
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
  border-radius: 14px;
}

.link:hover {
  transform: scale(1.02);
}

.link a {
  text-align: center;
  cursor: pointer;
  color: #333;
  background: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  position: relative;
  padding: 6px;
  width: 100%;
  appearance: none;
  box-sizing: border-box;
  vertical-align: middle;
}

.link a:active {
  color: inherit;
}

.link .image {
  display: flex;
  width: 48px;
  height: 48px;
}

.link img {
  border-radius: 8px;
}

.link:hover button {
  opacity: 1;
}

.link button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .link button {
    opacity: 1;
  }
}

.link button:hover {
  background-color: rgb(0, 0, 0, 0.1);
}
